{% extends "base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}

<div class="page-box">
    <div class="box-sigin">
        <div class="items-box">
            <div class="welcome">
                <p>Bienvenido a <b>KeHorario 🗓️</b></p>
            </div>
            <div class="text-input-box">
                <p class="sub-title">Correo 📬</p>
                <input type="email" class="custom-input" placeholder="tucorreo@ejemplo.com">
            </div>
            <div class="text-input-box">
                <p class="sub-title">Clave 🔑</p>
                <input type="password" class="custom-input" placeholder="Clave">
                <input type="password" class="custom-input" placeholder="Repetir clave">
            </div>
            <div class="button-box">
                <button type="submit" class="action-button">Registrarse</button>
            </div>
            <div class="separator-container">
                <hr class="separator-line"><p class="or-separator">o</p><hr class="separator-line">
            </div>
            <div class="button-box">
                <button type="submit" class="action-button bg-google">Registrarse con Google</button>
            </div>
            <div class="question-count">
                ¿Ya tienes cuenta?👉🏼<a href="{% url 'login' %}">Ingresa por aqui</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}