{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css %}{% endblock %}
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src="{% static 'javascript/javascript.js' %}"></script>   
        <title>{% block title%}{% endblock %} | KeHorario</title>
    </head>
    <body>
      <div class="navbar">
        <div class="burger" onclick="openNav()";>
          <div class="tomato"></div>
          <div class="tomato"></div>
          <div class="tomato"></div>
        </div>

        <div class="side-bar-mode">
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="action-button bg-signin register-side">
              <a href="{% url 'signin' %}" class="action-button-link">Registrarse</a>
            </div>
            <a href="#">Integraciones</a>
            <a href="#">Precios</a>
            <div class="box-login-sidevar">
              <div class="action-button bg-login login-side">
                <a href="{% url 'login' %}" class="action-button-link">Entrar</a>
              </div>
            </div>
            
          </div>
          <div id="wrapper" class="wrapper">
          </div>
        </div>

        <div class="logo-box">
          <div class="startup-name">
            <p><b>KeHorario</b></p>
          </div>
          <div class="logo">🗓️</div>
        </div>
        <div class="action-buttons-box">
          <div class="action-button bg-login">
            <a href="{% url 'login' %}" class="action-button-link">Entrar</a>
          </div>
          <div class="action-button bg-signin">
            <a href="{% url 'signin' %}" class="action-button-link">Registrarse</a>
          </div>
        </div>
      </div>
    {% block content %}{% endblock %}
    </body>
</html>